*{
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
}

body{
    background-image: linear-gradient(135deg, black,orange);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

.texto{
    color: white;
    text-align: center;
    margin: 300px 0;
    font-size: 28px;

    
}

button {
    position: relative;
    cursor: pointer;
    border: none;
    width: 300px;
    height: 80px;
    border-radius: 50px;
    outline: none;
    background: linear-gradient(45deg, white,orange);
    background-size: 400%;
    color: black;
    font-size: 24px;
    letter-spacing: 4px;
  }


@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}